#root {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;

  --color__white: #FFFFFF;
  --color__black: #000000;
  --color__background-light: #F5F5F5;

  --color__background-red: #FF595E;
  --color__background-orange: #FF924C;
  --color__background-yellow: #FFCA3A;
  --color__background-green: #8AC926;
  --color__background-blue: #1982C4;
  --color__background-purple: #6A4C93;

  background-color: var(--color__background-light);
  font-family: Montserrat;
}
body { 
  margin-top: 8rem;
}


p, h1, h2, h3, h4, h5, h6, hr {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

a, button { 
  cursor: pointer;
}

button { 
  margin: 20px 2px 0;
}
.button-light { 
  background-color: var(--color__background-light);
  color: var(--color__black)
}

hr { 
  width: 95%;
  margin-top: 5px;
  margin-bottom: 10px;
}

input, textarea { 
  height: 2rem;
  margin: 4px 0;
  padding: 2px 12px;
  border: none;
  border-radius: 10px;
  background-color: var(--color__background-light);
  color: var(--color__black);
  font-size: 1.1rem;
}
textarea {
  padding: 12px 12px 2px;
  font-family: Montserrat;
}

.inputDeactive { 
  background-color: rgb(214, 214, 214);
  color: rgb(100, 100, 100);
  font-weight: 200;
}




@font-face {
  font-family: Montserrat;
  font-size: 12px;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}