

/* TASK CARD PAGE */
.taskCard { 
    width: 500px;
    min-height: 500px;
    border-radius: 20px;
    padding: 30px;
    margin: 2px 5px;
    box-sizing: border-box;

    background: #fff;
    color: black;

    text-align: left;
}
.taskCard h1 { 
    line-height: 3rem;
    margin-bottom: 20px;
}
.taskCard p { 
    line-height: 2rem;
}
.taskCard button { 
    margin-top: 30px;
}

.TaskConfig { 
    border-radius: 10px;
    background-color: #eee;
    width: 85%;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}
.TaskConfig--status { 
    height: 1.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.TaskConfig h3 { 
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 1.6rem;
}
.TaskConfig--desc { 
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 0.9rem;
}


/* TASK Thumbnail */
.taskThumbnail { 
    width: 500px;
    height: 95px;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 5px;
    box-sizing: border-box;

    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.taskThumbnail h2 { 
    line-height: 2rem;
    font-size: 2rem;
    margin-bottom: 12px;
    color: white;
}
.taskThumbnail p { 
    color: #ddd;
}
.taskThumbnail div button { 
    margin: 0;
    margin-top: 25px;
    background-color: #eee;
    color: black;
}






/* -------------------- MOBILE VIEW -------------------- */
@media screen and (max-width: 780px) {
    .taskThumbnail { 
        width: 300px;
        height: 230px;
        flex-direction: column;
        padding: 25px;
        margin: 15px auto;
    }
    .taskThumbnail h2 { 
        line-height: 2.5rem;
    }
}