
.taskSummaryContainer { 
    width: 85%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.newTaskBtn { 
    color: var(--color__white);
    background-color: var(--color__background-purple);
    font-family: Montserrat-bold;
    width: 130px;
}
.newTaskBtn:hover { 
    background-color: var(--color__background-orange);
    border: 2px solid var(--color__background-orange);
}
.taskNonNegiciables, .taskUpcomings, .taskCompleteds { 
    width: 31%;
    height: 100%;
    background-color: #cccccc3b;
    border-radius: 10px;
    margin: 0 10px;
    box-sizing: border-box;
}
.taskNonNegiciables h2, .taskUpcomings h2, .taskCompleteds h2 { 
    color: var(--color__black);
    margin: 25px auto;
}